<div class="container">

    <div class="form-container"></div>
    <h2 class="form-title"> Update Name Of Department </h2>
    
    <form  [formGroup]= "updateDepartmentForm" >
      <div>
        <label for="name">Department Name:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>
    
      <!-- <div>
        <label for="type">Type:</label>
        <input type="text" id="type" formControlName="type" required>
      </div>
    
      <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" required></textarea>
      </div>
    
      <div>
        <label for="photo">Photo:</label>
        <input type="text" id="photo" formControlName="photo" required>
      </div> -->
    
      
    
      <button type="submit" (click)="updateDepartment()" >Update</button>
    </form>
    
    
    
  
  
  
  </div>
  
  
  
  